
.label{
	-fx-font:italic bold 14pt"Arial Black";
}
#griglia{
	-fx-padding:15,15,15,15;
	-fx-vgap:10;
	-fx-hgap:10;
}
#quadro{
	-fx-background-color:black;
	-fx-background-repeat:repeat;
}
.racchette{
	-fx-fill:white;
}