.grid-pane{
	-fx-padding:10,10,10,10;
	-fx-vgap:10;
	-fx-hgap:10;
	-fx-background-color:yellow;
}
.text-field{
	-fx-background-color:pink;
}
#numeroburger{
	-fx-text-fill:red;
}
#numeropate{
	-fx-text-fill:red;
}